@model Dominio.Date

@{
    ViewBag.Title = "DetailDate";
}

<h2>Detail Date</h2>

<div>
    <h4>Date</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tournament.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tournament.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit Date", "EditDate", new { id = Model.DateId }) |
    @Html.ActionLink("Back to List", "Details",new {id= Model.TournamentId })
</p>
