@model Dominio.League

@{
    ViewBag.Title = "Details";
}

<h2>League</h2>

<div>
    <h4>League</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Logo)
        </dt>

        <dd>
            @if (!string.IsNullOrEmpty(Model.Logo))
            {
                <img src="@Url.Content(Model.Logo)" alt="Image" style="width:100px;height:150;max-width:100%;min-height:100%" />
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LeagueId }) |
    @Html.ActionLink("Crearte to Team", "CreateTeam", new { id = Model.LeagueId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<h2>Team</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Teams.FirstOrDefault().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Teams.FirstOrDefault().Logo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Teams.FirstOrDefault().Initials)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Teams)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.Logo))
                {
                    <img src="@Url.Content(item.Logo)" alt="Image" style="width:100px;height:150;max-width:100%;min-height:100%" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Initials)
            </td>
            <td>
                @Html.ActionLink("Edit Team", "EditTeam", new { id = item.TeamId }) |
                @Html.ActionLink("Details Team", "DetailsTeam", new { id = item.TeamId }) |
                @Html.ActionLink("Delete Team", "DeleteTeam", new { id = item.TeamId },new { @onclick = "return confirm('Areyou sure to delete this record?');" })
            </td>
        </tr>
    }

</table>
